.pageWrapper {
    display: flex;
    width: 100%;
    background-color: #B4D2E7;
}

.body {
    flex: 1;
    margin-top: 2.5em;
    margin-left: 1rem;
    margin-right: 2.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vh;
}
