.pageWrapper {
    display: flex;
    width: 100%;
    background-color: #B4D2E7; /* cor de fundo azul claro */
}

.body {
    flex: 1;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vh;
}

button {
    background-color: #FF6E58; /* botões com cor laranja avermelhada */
    color: white;
    padding: 10px;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
}
