.homeContainer {
    flex-direction: column;
    justify-content: center;
}

.container {
    width: 100vw;
    height: 60vh;
}

.mapImage {
    width: auto;
    background-repeat: no-repeat;
    height: 100%;
    background-position: right;
    background-image: url("/src/assets/map-image.png");
}

.transImage {
    width: auto;
    background-repeat: no-repeat;
    height: 100%;
    background-position: left;
    background-image: url("/src/assets/trans-image.png");
}

.mapBody {
    height: 100%;
    width: 100%;
    background: rgb(255,115,92);
    background: linear-gradient(90deg, rgba(255,115,92,1) 0%, rgba(255,255,255,0) 100%); 
}

.transBody {
    height: 100%;
    width: 100%;
    background: rgb(233,197,104);
    background: linear-gradient(270deg, rgba(233,197,104,1) 0%, rgba(255,255,255,0) 100%); 
}

.contentWrapper {
    height: 100%;
    flex-direction: column;
    margin-left: 2vw;
    padding-top: 2vw;
}

.invertedContentWrapper {
    height: 100%;
    align-items: end;
    flex-direction: column;
    margin-right: 2vw;
    padding-top: 2vw;
}

.title {
    font-size: 3vw;
    margin-bottom: 2vw;
}

.description {
    font-size: 1.4rem;
    width: 50vw;
    text-align: left;
}

.invertedDescription {
    font-size: 1.4rem;
    width: 50vw;
    text-align: right;
}

.buttonWrapper {
    height: 100%;
    display: flex;
    align-items: end;
    margin-left: 20vw;
    margin-bottom: 3vw;
}

.invertedButtonWrapper {
    height: 100%;
    display: flex;
    align-items: end;
    margin-right: 15vw;
    margin-bottom: 3vw;
}

.mapButton {
    height: 3vw !important;
    width: auto;
    font-size: 1.5vw !important;
    border: 4px solid #a12e1c;
    background-color: var(--c-orange);
}

.transButton {
    height: 3vw !important;
    width: auto;
    font-size: 1.5vw !important;
    border: 4px solid #a7801e;
    background-color: var(--c-orange);
}

@media all and (max-width: 1450px) {
    .mapButton .transButton {
        height: 3.5vw !important;
        width: 15vw;
    }
}

@media all and (max-width: 1000px) {
    .mapBody, .transBody {
        background: none;
    }
    .transBody {
        background: linear-gradient(0deg, rgba(233,197,104,0.7) 0%, rgba(255,255,255,0) 100%); 
    }
    .mapBody {
        background: linear-gradient(0deg, rgba(255,115,92,0.7) 0%, rgba(255,255,255,0) 100%); 
    }
    .buttonWrapper, .invertedButtonWrapper {
        height: auto;
        margin: 3vh 0;
    }
    .mapButton, .transButton {
        font-size: 3vw !important;
        height: 5vw !important;
    }
    .title {
        text-align: center;
        font-size: 5vw;
    }
    .description, .invertedDescription {
        text-align: center;
        width: 80% !important;
        font-size: 2.5vw;
    }
    .contentWrapper, .invertedContentWrapper {
        align-items: center !important;
    }
}

@media all and (max-width: 700px) {
    .contentWrapper, .invertedContentWrapper {
        height: min-content !important;
        margin-left: 0;
        margin-right: 0;
    }
    .buttonWrapper, .invertedButtonWrapper {
        margin: 3vh 0;
    }
    .description, .invertedDescription {
        text-justify: auto;
        text-align: center;
        width: 60% !important;
        font-size: 2.5vw;
    }
    .container {
        height: fit-content;
    }
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
}

@media all and (max-width: 600px) {
    .title {
        font-size: 8vw;
        margin: 2vh;
    }
    .description, .invertedDescription {
        width: 80% !important;
        font-size: 2.8vw;
    }
    .container {
        height: 50vh;
    }
}

@media all and (max-width: 400px) {
    .title {
        font-size: 8vw;
        margin: 2vh;
    }
    .description, .invertedDescription {
        width: 80% !important;
        font-size: 3.7vw;
    }
    .mapButton, .transButton {
        font-size: 5vw !important;
        height: 8vw !important;
    }
    .container {
        height: 50vh;
    }
}

@media all and (max-width: 250px) {
    .description, .invertedDescription {
        width: 80% !important;
        font-size: 5vw;
    }
    .mapButton, .transButton {
        font-size: 7vw !important;
        height: 12vw !important;
    }
}
