.homeContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

.section {
    width: 100%;
    min-height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sectionImage1 {
    width: 100%;
    height: 100%;
    background-image: url("/images/map-image.png");
    background-repeat: no-repeat;
    background-position: left;
}

.sectionImage2 {
    width: 100%;
    height: 100%;
    background-image: url("/images/trans-image.png");
    background-repeat: no-repeat;
    background-position: right;
}

.sectionBody1 {
    background: linear-gradient(270deg, rgba(233,197,104,1) 0%, rgba(255,255,255,0) 100%); 
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 0 4em;
}

.sectionBody2 {
    background: linear-gradient(90deg, rgba(255,115,92,1) 0%, rgba(255,255,255,0) 100%);
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0 4em;
}

.contentWrapper2 {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 1rem;
    margin-top: 2rem;
}

.contentWrapper1 {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 1rem;
    margin-top: 2rem;
}

.title {
    font-size: clamp(1.5rem, 4vw, 3rem);
    font-weight: bold;
    text-align: right;
}

.description1 {
    font-size: clamp(1rem, 2vw, 1.5rem);
    max-width: 45vw;
    text-align: right;
}

.title2 {
    font-size: clamp(1.5rem, 4vw, 3rem);
    font-weight: bold;
    margin: 2rem 0;
    text-align: left;
}

.description2 {
    font-size: clamp(1rem, 2vw, 1.5rem);
    max-width: 50vw;
    text-align: left;
}

.buttonWrapper1 {
    display: flex;
    gap: 1rem;
    justify-content: end;
    margin-top: 1rem;
    margin-bottom: 3em;
}

.buttonWrapper2 {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 3em;
}


.sectionButton1 {
    padding: 0.5rem 1rem;
    font-size: clamp(0.8rem, 2vw, 1.2rem);
    border: 3px solid #d8a41f;
    border-top: 1px solid #d8a41f;
    background-color: #f5cc64 !important;
    color: white;
}

.sectionButton1:hover {
    background-color: #ffc941 !important;
}

.sectionButton2 {
    padding: 0.5rem 1rem;
    font-size: clamp(0.8rem, 2vw, 1.2rem);
    border: 3px solid #b43b28;
    border-top: 1px solid #b43b28;
    background-color: #ff735c !important;
    color: white;
}

.sectionButton2:hover {
    background-color: #ff6148 !important;
}

@media (min-width: 1024px) {
    .sectionBody1, .sectionBody2 {
        padding-bottom: 10vh;
    }
}


@media (max-width: 600px) {
    .contentWrapper2, .contentWrapper1 {
        text-align: center !important;
    }

    .contentWrapper1 {
        align-items: flex-end !important;
        margin-right: -35px !important;
        padding-right: 0;
    }

    .description1, .description2, .title {
        max-width: 80%;
    }

    .sectionBody1, .sectionBody2 {
        display: flex;
        align-items: center;
    }
}

