/* MapStyles.module.css */
.container {
    height: 100vh;
    width: 100%;
}

.internalMap {
    height: 100%;
}

.overlay {
    position: absolute;
    bottom: 0px;
    background: var(--c-blue);
    padding: 10px;
    width: 100vw;
    z-index: 1000;
}

.selectWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.selectInput {
    display: inline-block;
    margin-left: 16px;
    background-color: var(--c-lightBlue);
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.calculateButton {
    display: flex;
    background-color: var(--c-orange);
    border-radius: 8px;
    margin: 0 auto;
    padding: 8px 20px;
    transition: 300ms;
}

.calculateButton:hover {
    cursor: pointer;
    background-color: #ff5d44;
}
