locationBody {
    padding: 1.5em;
    border-radius: 50px;
    border-style: dashed;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    border: 1px solid #e2e8f0;
    color: #2e1f27;
}

.inputField, .selectField {
    border-radius: 4px;
    border: 1px solid #e2e8f0;
    padding: 0.2em;
}

.inputField {
    margin-bottom: 0.2em;
}

.selectField {
    margin-bottom: 0.2em;
}

.inputField::placeholder {
    font-size: 14px;
}