.sidebar {
    width: 4%;
    padding-bottom: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--c-blue);
}

.sidebarDivider {
    margin-top: 1vw;
    margin-bottom: 1vw;
    height: 5px;
    border-radius: 30px;
    background-color: white;
    opacity: 0.5;
}

a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navLogo {
    margin-top: 1vw;
    width: 60%;
}

.navText {
    font-size: 1.5vw;
    font-family: "Keania One", sans-serif;
    color: black;
}