.footerBody {
    background-color: var(--c-blue);
    color: var(--c-yellow);
    display: flex !important;
    flex-direction: column !important;
    max-height: 15vh;
    width: 100% !important;
    margin-top: auto;
}

.footerBody p{
    font-size: 1em;
    font-weight: 600;
    text-align: center;
}

.footerBody a{
    font-size: 1em;
    font-weight: 600;
    text-align: center;
}

.footerBody img {
    width: 60px;
    height: 60px;
    margin: 0 8px;
}

@media (max-width: 768px) {
    .footerBody img {
        margin-top: -10px;
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 576px) {
    .footerBody img {
        margin-top: -10px;
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 400px) {
    .footerBody img {
        margin-top: -10px;
        width: 30px;
        height: 30px;
    }

    .footerBody p, .footerBody a {
        font-size: 0.9em;
    }
}

