.customBox {
  cursor: pointer;
  border-width: 1px;
  border-radius: 0.375rem; 
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1); 
  padding: 0.5em 1em !important;
  background: linear-gradient(0deg, #B4D2E7 1%, #d9dfe2 100%);
  transition: background-color 0.3s ease;
  border: 1px solid lightgrey;
  margin: 0 !important;
}

@media (max-width: 600) {
  .customBox {
    border-width: 1px;
    padding: 0.5em;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1); 
    background: linear-gradient(0deg, #B4D2E7 1%, #d9dfe2 100%);
    transition: background-color 0.3s ease;
    border: 1px solid lightgrey;
  }
}
